#!/bin/bash

{{- $cursor := dict -}}
{{- if and (hasKey . "extensions") (hasKey .extensions "cursor") -}}
{{-   $cursor = .extensions.cursor -}}
{{- end -}}
# hash {{ $cursor | toJson | sha256sum }}

{{ if lookPath "cursor" -}}
echo "Installing Cursor extensions..."

INSTALLED_EXTENSIONS=$(cursor --list-extensions)

{{ if hasKey $cursor "ext_ids" -}}
{{ range $cursor.ext_ids -}}
if ! echo "$INSTALLED_EXTENSIONS" | grep -q "^{{ . }}$"; then
  echo "Installing extension: {{ . }}"
  cursor --install-extension "{{ . }}" --force
else
  echo "Extension already installed: ~{{ . }}"
fi
{{ end -}}
{{ end -}}

{{ if hasKey $cursor "remote_paths" -}}
{{ range $cursor.remote_paths -}}
echo "Installing extension: {{ . }}"
curl -L -o "$(basename {{ . }})" "{{ . }}"
cursor --install-extension "$(basename {{ . }})"
rm "$(basename {{ . }})"
{{ end -}}
{{ end -}}

echo "Cursor extensions installation completed."
{{ else -}}
echo "Cursor is not installed. Skipping extension installation."
{{ end -}}
